<section>
  <div class='book'>
  <h2><a href="/books/<%= book.id %>"><%= book.title %></a></h2>
  <p><%= book.authors %> </p>
  <p><%= book.description %> </p>
  <img src=<%= book.image_url %>/></div>
</section>
