<section class='book'>
  <div>
  <h2 id="title" ><a href="/books/<%= book.id %>"><%= book.title %></a></h2>
  <p><%= book.authors %> </p>
  <p><%= book.description %> </p>
  <img id="img_url" src=<%= book.image_url %>/></div>
</section>
