<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../styles/reset.css">
  <link rel="stylesheet" type="text/css" href="../styles/base.css">
  <title>Search result</title>
</head>

<body>
  <header>
    <h1>Search results</h1>
  </header>
  <main>
    <% books.forEach(function(book){ %>
    <section class='book'>
    <div>
      <h2 id="title"><%= book.title %> </h2>
      <p><%= book.authors %> </p>
      <p><%= book.description %> </p>
      <img id="img_url" src=<%= book.image_url %> />
      <%- include('../../partials/bookForm', { formAction:"add", book }) %>
    </div>
  </section>
    <% }) %>
  </main>
</body>

</html>